@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root {
  font-family: "Comfortaa", sans-serif;
}
body {
  margin: 0;
}

a {
  text-decoration: inherit;
  cursor: pointer;
}

button {
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

